/* Body Stylesheet */
/* This Stylesheet is in charge of all body styles such as Background Colours and Padding */

html {
    font-size: 15px;
}

body {
    padding-top: 6%;
    padding-left: 17.5%;
    padding-right: 36%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}
